<body>
    <div class="container">
        <div class="blocktext">
            <div class="row">
                <div class="col-md-6">
                    <h1>Bachlor of Science</h1>
                    <h2>Computer Science</h2>
                    <img class="fsu-logo" [src]=fsuImage alt="No Image">
                </div>
                <div class="col-md-6">
                    <p class="text-center">GPA: 3.65 &nbsp;&nbsp;&nbsp; ABET Certified</p>
                    <img class="arrow-div" [src]=fsuArrow alt="No Image">
                    <p>Coursework: Object Oriented Programing, Data Structures and Algorithms, Databases, Software Engineering, Android Development, C# Application Development, Python Security, Computer Orginization 1-2, Operating Systems, Discrete Math 1-2, Calculus 1-2

                    </p>
                </div>
            </div>
        </div>
    </div>
</body>