body {
    width: 100vw;
    height: 100vh;
    background-image: url('fsutransparent.png');
    background-size: 100% 100%;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocktext {
    width: 75%;
    padding: 5rem;
    margin: 1rem;
    //margin: 10px auto;
    border-style: solid;
    border-width: .5rem;
    border-color: #CEB888;
    background-color: #782F40;
}

.fsu-logo {
    width: 25rem;
    height: 10rem;
}

.arrow-div {
    margin-top: -1rem;
    width: 17rem;
    height: 3rem;
}

// hr {
//     color: white;
//     width: 50%;
//     line-height: ;
// }

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}

p {
    color: white;
    font-size: large;
    font-weight: bold;
}

.row {
}
