a {
    font-size: large;
    color: #3C4048;
    font-weight: 600;
}

ul {
    margin: 10px
}

li {
    margin-left: 10px;
    margin-right: 10px;

    .active {
        background-color: white;
        font-weight: bold !important;
        color: #00ABB3 !important;
        font-size: 1.3rem !important;
        //transition-duration: 0.3s;
    }
}

.navbar {
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

    .navbar-collapse {
        text-align: center;
    }
}
