<body>
    <div class="section">
        <img class="mx-auto d-block" [src]=myImage alt="No Image" width="300" height="300"/>
        <br/>
        <div class="col-10 mx-auto">
            <h1 class="text-center">Hello, I am Daimeun Praytor</h1>
            <hr/>
            <p>A mission driven and dedicated software engineer that is passionate about creating technologies that have a real world impact.
                 Throughout my studies at Florida State University, I gained hands on experience with many languages and frameworks, always trying to further the scope and depth of my knowledge.
                  During this time I found my niche in application development, whether it be web, desktop, or mobile. I am motivated by perfecting a seamless user experience, while
                also maintaining clean algorithmically optimized code that can easily be scaled.   </p>
        </div>
    </div>
</body>
