p {
    color: black;
}

video {
    display: block;
    width: 100%;
    max-height: 80%;
}

h4 {
    color: #3C4048;
    font-weight: 800;
}


.modal-body {
    background-color: #EAEAEA;
    height: 100vh;
}

.modal-header {
    background-color: #EAEAEA;
}
