<body>
    <div class="contact-box">
        <h1>Contact Me</h1>
        <form action="https://formsubmit.co/daimeun@gmail.com" method="POST">
            <input type="hidden" name="_subject" value="New submission!">
            <input type="hidden" name="_captcha" value="false">
            <!-- <input type="hidden" name="_webhook" value="http://localhost:4200/"> -->
            <div class="row mx-auto">
                <input type="text" name="name" placeholder="Your name goes here." required>
            </div>
            <div class="row mx-auto">
                <input type="email" name="email" placeholder="Your email goes here.">
            </div>
            <div class="row mx-auto">
                <textarea type="message" name="message" placeholder="Write your message here." required></textarea>    
            </div>
            <div class="row mx-5 px-5">
                <button class="button1" type="submit">Send</button>
            </div>
        </form>
    </div>
</body>
