body {
    width: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: auto;
    background-color: white;
}

// .header-container {
//     width: 75%;
//     margin: auto;
//     background-color: royalblue;
//     padding: 2rem;
//     border-radius: 1rem;
//     filter: drop-shadow(0 0 0.75rem black);
// }

h1 {
    text-align: center;
    color: #3C4048;
}

.contact-box {
    width: 50%;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 3rem;
    background-color: #EAEAEA;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
}

.row {
    padding-top: 1rem;
    padding-bottom: 1rem;
}