p {
    color: black;
}

video {
    display: block;
    width: 100%
}

h4 {
    color: #3C4048;
    font-weight: 800;
}

.modal-body {
    background-color: #EAEAEA;
}

.modal-header {
    background-color: #EAEAEA;
}
