
<body>
    <h3>Skills</h3>
    <h5>-Practical skills for real world problems.</h5>
    <div class="row">
        <div class="col-md-5">
            <div class="child">
                <h1>1 |</h1>
            </div>
            <div class="child">
                <h2>Angular</h2>
            </div>
            <p>Test1</p>
        </div>
        <div class="col-md-5">
            <div class="child">
                <h1>2 |</h1>
            </div>
            <div class="child">
                <h2>ASP.NET Core</h2>
            </div>
            <p>Test1</p>
        </div>
        <div class="col-md-5">
            <div class="child">
                <h1>3 |</h1>
            </div>
            <div class="child">
                <h2>React</h2>
            </div>
            <p>Test1</p>
        </div>
        <div class="col-md-5">
            <div class="child">
                <h1>4 |</h1>
            </div>
            <div class="child">
                <h2>C#</h2>
            </div>
            <p>Proficient in developing object oriented programs in C#. Created applications using ASP.NET that make asynchronous calls to rapidly populate JSON data. </p>
        </div>
        <div class="col-md-5">
            <div class="child">
                <h1>5 |</h1>
            </div>
            <div class="child">
                <h2>C++</h2>
            </div>
            <p>Test1</p>
        </div>
        <div class="col-md-5">
            <div class="child">
                <h1>6 |</h1>
            </div>
            <div class="child">
                <h2>Relation Databases</h2>
            </div>
            <p>Test1</p>
        </div>
        <div class="col-md-5">
            <div class="child">
                <h1>7 |</h1>
            </div>
            <div class="child">
                <h2>Android Development</h2>
            </div>
            <p>Test1</p>
        </div>
        <div class="col-md-5">
            <div class="child">
                <h1>8 |</h1>
            </div>
            <div class="child">
                <h2>Cascading Style Sheets</h2>
            </div>
            <p>Test1</p>
        </div>
        <div class="col-md-5">
            <div class="child">
                <h1>9 |</h1>
            </div>
            <div class="child">
                <h2>Hyper Text Markup Language</h2>
            </div>
            <p>Test1</p>
        </div>
        <div class="col-md-5">
            <div class="child">
                <h1>10 |</h1>
            </div>
            <div class="child">
                <h2>Agile Methodologies</h2>
            </div>
            <p>Test1</p>
        </div>
    </div>
</body>