<body>
    <h3>Skills</h3>
    <h5>-Practical skills for real world problems.</h5>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <ul>
                    <li>
                        <div class="child">
                            <h1>1 |</h1>
                        </div>
                        <div class="child">
                            <h2>Skill Name</h2>
                        </div>
                        <p>Test1</p>
                    </li>
                    <li>
                        <div class="child">
                            <h1>2 |</h1>
                        </div>
                        <div class="child">
                            <h2>Skill Name</h2>
                        </div>
                        <p>Test1</p>
                    </li>
                    <li>
                        <div class="child">
                            <h1>3 |</h1>
                        </div>
                        <div class="child">
                            <h2>Skill Name</h2>
                        </div>
                        <p>Test1</p>
                    </li>
                    <li>
                        <div class="child">
                            <h1>4 |</h1>
                        </div>
                        <div class="child">
                            <h2>Skill Name</h2>
                        </div>
                        <p>Test1</p>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>
                        <div class="child">
                            <h1>5 |</h1>
                        </div>
                        <div class="child">
                            <h2>Skill Name</h2>
                        </div>
                        <p>Test1</p>
                    </li>
                    <li>
                        <div class="child">
                            <h1>6 |</h1>
                        </div>
                        <div class="child">
                            <h2>Skill Name</h2>
                        </div>
                        <p>Test1</p>
                    </li>
                    <li>
                        <div class="child">
                            <h1>7 |</h1>
                        </div>
                        <div class="child">
                            <h2>Skill Name</h2>
                        </div>
                        <p>Test1</p>
                    </li>
                    <li>
                        <div class="child">
                            <h1>8 |</h1>
                        </div>
                        <div class="child">
                            <h2>Skill Name</h2>
                        </div>
                        <p>Test1</p>
                    </li>
                </ul>
            </div>
        </div>
    </div> 
</body>
