body {
    width: auto;
    height: auto;
    background-color: #EAEAEA;
    padding-bottom: 3rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 6rem;
    padding-right: 6rem;
}

.col-md-5 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.child {
    display: inline-block;
    padding-right: 1rem;
    vertical-align: middle;
}

h1 {
    color: #2178cf;
    font-weight: 600;
}

h2 {
    font-size: 1.75rem;
    font-weight: 800;
    color: #3C4048;
}

p {
    color: black;
}

h3 {
    padding-top: 2rem;
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    color: black;
}
h5 {
    font-size: 1.75rem;
    text-align: center;
    font-weight: 700;
    color: #2178cf;
}

@media screen and (max-width: 900px){
    .row {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
