
<body>
    <h3>Skills</h3>
    <h5>Practical skills for real world problems</h5>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="child">
                    <h1>1 |</h1>
                </div>
                <div class="child">
                    <h2>Angular</h2>
                </div>
                <p>Proficient in Angular using Typescript to create component based web applications. Used to develop this website as well as others that use it in combination with ASP.NET. </p>
            </div>
            <div class="col-md-5">
                <div class="child">
                    <h1>2 |</h1>
                </div>
                <div class="child">
                    <h2>ASP.NET Core</h2>
                </div>
                <p>Adept in using ASP.NET framework to create projects with scalable back-end architecture. Used to create desktop applications in conjunction with C# and web applications with Angular.</p>
            </div>
            <div class="col-md-5">
                <div class="child">
                    <h1>3 |</h1>
                </div>
                <div class="child">
                    <h2>React</h2>
                </div>
                <p>Competent in creating web applications with React.js, member of Agile scrum team responsible for front-end development. </p>
            </div>
            <div class="col-md-5">
                <div class="child">
                    <h1>4 |</h1>
                </div>
                <div class="child">
                    <h2>C#</h2>
                </div>
                <p>Proficient in developing object oriented programs in C#. Created applications using ASP.NET that make asynchronous calls to rapidly populate JSON data. </p>
            </div>
            <div class="col-md-5">
                <div class="child">
                    <h1>5 |</h1>
                </div>
                <div class="child">
                    <h2>C++</h2>
                </div>
                <p>Expert in C++ development, my ground zero for object oriented programming.
                     Created numerous console applications such as a bank account simulator, and various from scratch data structure implementations. </p>
            </div>
            <div class="col-md-5">
                <div class="child">
                    <h1>6 |</h1>
                </div>
                <div class="child">
                    <h2>Relation Databases</h2>
                </div>
                <p>Adept at SQL, experience creating projects using MySQL, Firebase, MongoDB, and MariaDB.</p>
            </div>
            <div class="col-md-5">
                <div class="child">
                    <h1>7 |</h1>
                </div>
                <div class="child">
                    <h2>Android Development</h2>
                </div>
                <p>Adept at Android Development, developed applications using object oriented design as well as real time database integration with Firebase.</p>
            </div>
            <div class="col-md-5">
                <div class="child">
                    <h1>8 |</h1>
                </div>
                <div class="child">
                    <h2>CSS</h2>
                </div>
                <p>Proficient in CSS, have experience with its superset, SCSS as well as Bootstrap5, and ng-bootstrap for Angular web development.</p>
            </div>
            <div class="col-md-5">
                <div class="child">
                    <h1>9 |</h1>
                </div>
                <div class="child">
                    <h2>HTML</h2>
                </div>
                <p>Competent in using HTML5, created various web applications using it in combination with Angular, React.js, and PHP respectively. </p>
            </div>
            <div class="col-md-5">
                <div class="child">
                    <h1>10 |</h1>
                </div>
                <div class="child">
                    <h2>Agile</h2>
                </div>
                <p>Experienced with Agile workflows, from project design, to working on iterations in sprint teams, and finally product release.</p>
            </div>
        </div>
    </div>
</body>