
//Scroll margins used to account for header offset
#scrollToAboutme {
    scroll-margin-top:3.7rem;
}
#scrollToEducation {
    scroll-margin-top:3.7rem;
}

#scrollToSkills {
    scroll-margin-top:3.7rem;
}

#scrollToProjects {
    scroll-margin-top:3.7rem;
}

#scrollToContact {
    scroll-margin-top:3.7rem;
}

p {
    width: auto;
    height: 1000px;
}

nav {
    position: relative;
    height: auto;
    overflow-y: scroll;
}