<body>
    <app-header [pageLocations]="pageLocations"></app-header>
    <div data-bs-spy="scroll" data-bs-target="navbar-head" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <section #aboutme><app-about-me id ="scrollToAboutme"></app-about-me></section>
        <section #education><app-education id = "scrollToEducation"></app-education></section>
        <section #skills><app-skills id="scrollToSkills"></app-skills></section>
        <section #projects><app-projects id="scrollToProjects"></app-projects></section>
        <section #contact><app-contact id="scrollToContact"></app-contact></section>
    </div>
    <app-footer></app-footer>
</body>